In [1]:
import pandas as pd

In [2]:
import sqlite3

In [4]:
connection = sqlite3.connect('sqlite.db')

In [8]:
table_names = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type = 'table'", 
                                connection)

In [9]:
table_names

                                         name
0      mapped_plant_quads_co_allrecords_cover
1    mapped_plant_quads_co_allrecords_density
2         mapped_plant_quads_co_daily_climate
3             mapped_plant_quads_co_quad_info
4        mapped_plant_quads_co_quad_inventory
5    mapped_plant_quads_co_quad_stocking_rate
6          mapped_plant_quads_co_species_list
7  mapped_plant_quads_co_species_name_changes

In [13]:
density = pd.read_sql_query("SELECT * FROM mapped_plant_quads_co_allrecords_density", connection)

In [12]:
species = pd.read_sql_query("SELECT * FROM mapped_plant_quads_co_species_list", connection)

In [15]:
cover = pd.read_sql_query("SELECT * FROM mapped_plant_quads_co_allrecords_cover", connection)

In [16]:
merged = pd.merge(left = cover, right = species, how = 'left')